*{
    padding: 0%;
    margin: 0%;}

    .head{text-align: center;
        font-size: 55px;
font-family: cursive;
text-decoration: underline;
        color: #353f5e;
    
}
body{
   
        background: linear-gradient(to right, #c4c1c8, #3a5c44);
     
       }
form{
    display: flex;
    flex-direction: column;
 text-align: center;
 padding-top: 5px;
}
.container{

    background-image: url("http://www.psdgraphics.com/file/weather-icon.jpg");
    background-position: center;
    background-size: cover;    
    width: 300px;
    box-shadow:5px 6px 7px  rgb(32, 32, 67);
    height: 300px;
    border-radius: 15px;
    border:1px solid  #39495c;
    padding: 15px;
    margin-left: 36%;
    margin-top: 45px;
}


.bar{
    width: 200px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
}
.btn {
  
    background: #1d4130;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(249, 240, 240);
    font-size:15px;
    padding: 10px;
    margin-left:15px;
    

  }
  .btn:hover {
    background: #5f646a;
  }
  .middle{
margin-top: 25px;
font-size: 35px;
  }
  h1{
    font-size: 55px;
    color:rgb(65, 61, 3) ;
  }
  h2{
    color: #1e345f;
  }
  .bottom{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .icon{margin-top: 5px;
    width: 50px;
    height: 50px;
  }
  .wind,.humidity{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .one{
    font-weight: 600;
    margin-bottom: 22px;
  }
  h4{color: rgb(34, 56, 57);
  }